<div class="row">
    <div class="logo col-xs-4">
        <a href="/"><img src="/assets/images/logo.png" alt="FemDress.ru - Женская одежда: костюмы, платья, пиджаки"></a>
    </div>
    <address class="address col-xs-4 text-center">
        <strong>Торгово-ярмарочный Комплекс "МОСКВА"</strong><br>
        Москва, Тихорецкий бульвар, дом 1. м. Люблино<br>
        2-й этаж, павильон 2Е-34
    </address>
    <address class="contact col-xs-4 text-left">
        <strong><abbr title="Телефон">Тел:</abbr></strong> +7 (906) 719-15-64<br>
        <strong><abbr title="Электронная почта">E-mail:</abbr></strong> <a href="mailto:Tamara@FemDress.ru">Tamara@FemDress.ru</a>
    </address>
</div>