<div class="row">
    <div class="logo col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <a href="/"><img class="img-responsive margin-xs-center" src="/assets/images/logo.png" alt="FemDress.ru - Женская одежда: костюмы, платья, пиджаки"></a>
    </div>
    <address class="address col-sm-6 col-md-6 col-lg-7 text-center hidden-xs">
        <strong>Торгово-ярмарочный Комплекс "МОСКВА"</strong><br>
        Москва, Тихорецкий бульвар, дом 1. м. Люблино<br>
        2-й этаж, павильон 2Е-34
    </address>
    <address class="contact col-sm-3 col-md-3 col-lg-2 text-right hidden-xs">
        <strong><abbr title="Телефон">Тел:</abbr></strong> +7 (906) 719-15-64<br>
        <strong><abbr title="Электронная почта">E-mail:</abbr></strong> <a href="mailto:Tamara@FemDress.ru">Tamara@FemDress.ru</a>
    </address>
</div>