@include font-face('Anton');
@include font-face('PT Sans Narrow');
//loader
    p.spaced{
        text-indent: 20px;
        font-family: 'PT Sans Narrow';
        font-size: 18px;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
.ember-load-indicator{
    p{
        font-family: 'Anton', 'Verdana';
        font-weight: bold;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;

    svg {
    -webkit-transform-origin: 50% 65%;
            transform-origin: 50% 65%;
    }

    svg polygon {
    stroke-dasharray: 17;
    -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
            animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    }
    @-webkit-keyframes dash {
        to {
            stroke-dashoffset: 136;
        }
    }
    @keyframes dash {
        to {
            stroke-dashoffset: 136;
        }
    }
    @-webkit-keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
    @keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
}
//body
body{
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    &.loading{
        height: 100vh;
    }
}
//navigation menu
nav{
    top: 0;
    position: fixed;
    width: 100%;
    background: #2a5885;
    padding: 10px;
    z-index: 10000;
    a {
        color: #fff;
        margin-right: 2px;
        padding: 10px;
        cursor: pointer;
        &:hover{
            color: #fff;
            text-decoration: none;
            background: #337ab7;
        }
    }

}
//liquid-fire fixes
body .liquid-container{
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
body .liquid-fix{
    transform: none !important;
}
//post and comments
.user-overlay{
    &:before{
        display: inline-block;
        position: absolute;
        background: #45688E;
        border-radius: 50%;
        border: solid #fff 2px;
        content: "\f030";
        font-family: FontAwesome;
        text-align: center;
        color: #fff;
        top: 0;
        left: 0;
    }
    &.s50:before{
        width: 50px;
        height: 50px;
        font-size: 15px;
        padding: 12.5px;
    }
    &.s100:before{
        width: 100px;
        height: 100px;
        font-size: 30px;
        padding: 25px;
    }
    img {
        position: absolute;
        left: 10px
    }
}
//misc
.overlay {
    position: fixed;
    top: 0;
    background-color: #666;
    width: 100%;
    height: 105%;
    z-index: 99;
}
.no-scroll {
    overflow: hidden;
}
.line-after {
    &:after{
        display: block;
        content: "";
        width: 100%;
        height: 10px;
        background: #C6CED7;
        margin: auto;
 }
}
.line-before {
    &:before{
        display: block;
        content: "";
        width: 100%;
        height: 10px;
        background: #C6CED7;
        margin: auto;
 }
}
//bootstrap addons
.splash {
    height: 35em;
    padding-top: 5em;
    margin-bottom: 2em;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
}
.col-grow-3{
    width: 33.3333%;
}
@media (max-width: 767px) {
  // Align text to center.
  .text-xs-center {
    text-align: center;
  }
  // Margin center
  .margin-xs-center {
      margin-left: auto;
      margin-right: auto;
  }
}
/*.full{
    background: url('/assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

//paste
.box1{
    margin-bottom: 10px;
}
  /*RUBLE SIGN HANDLER*/
   @font-face { font-family: "Rubl Sign"; src: url('http://www.artlebedev.ru/;-)/ruble.eot'); }
    span.rur { position: relative; font-family: "Rubl Sign"; text-transform: uppercase; font-size: 18px;}    
    span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; }
    span.rur span:before { content: '\2013'; }


/*===================================================================================*/
/*  Sections                                                                         */ 
/*===================================================================================*/

.prodinfobox1{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
}
.box1:hover .prodinfobox1{
z-index: 10;
p{
    opacity: 1;
    background: #fff;
}
}

.box1{
overflow: hidden;
background: #f2f2f2;
p{
    transition: all .2s ease;
    opacity: 0;
    width: 100%;
}
}
.box1 a{
text-decoration: none;
}
.box1 a img{
    transition: all .2s ease;
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.box1:hover a img{
    opacity: 0.5;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.box1:hover{
  border-bottom-color: #900;
}


/*===================================================================================*/
/*  Cloud Zoom                                                                        */ 
/*===================================================================================*/
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
  /*border: 0px solid #888;
  margin: 0px;  /* Set this to minus the border thickness. */
  /*border-radius: 30px;*/
  border-top-right-radius: 30px;
  background-color:#fff;  
  cursor:none;    
}

/* This is for the title text. */
.cloud-zoom-title {
  font-family:Arial, Helvetica, sans-serif;
  position:absolute !important;
  background-color:#000;
  color:#fff;
  padding:3px;
  width:100%;
  text-align:center;  
  font-weight:bold;
  font-size:10px;
  top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
border:1px solid #fff;
overflow:hidden;
margin-top:0;
margin-left:4px;
/*border-radius: 30px;*/
border-top-right-radius: 30px;
}

/* This is the loading message. */
.cloud-zoom-loading {
  color:white;  
  background:#222;
  padding:3px;
  /*border:1px solid #000;*/
}
