@include font-face('PT Sans Narrow');
.index{
    h1{
        font-family: 'PT Sans Narrow';
    }
    p{
        text-indent: 20px;
        font-family: 'PT Sans Narrow';
        font-size: 17px;
    }
}