
    .title{
        h1{
            font-size: 70px;
            font-family: 'PT Sans Narrow';
            margin-bottom: 0;
        }
        p{
            font-size: 30px;
            margin-top: 0;
            text-indent: 0;
        }
    }