<div class="container">
    <h1>О нас</h1>
    <p>Нас можно найти по адресу:</p>
    <address>Москва, Тихорецкий бульвар, дом 1.<br>
    Торгово-ярмарочный Комплекс "МОСКВА"<br>
    Наш павильон 2Е-34 расположен на 2-м этаже.</address>
    <ul class="fa-ul">
        <li><i title="Контактный телефон" class="fa-li fa fa-phone"></i>+7 (906) 719-15-64</li>
        <li><i title="E-mail" class="fa-li fa fa-envelope"></i><a href="mailto:Tamara@FemDress.ru">Tamara@FemDress.ru</a></li>
        <li><i title="Мы ВКонтакте" class="fa-li fa fa-vk"></i><a href="http://vk.com/femdress">vk.com/femdress</a></li>
    </ul>
    <p>Ближайшая к нам станция метро <i class="fa fa-subway"><strong> Люблино</strong></i>.</p>
    <p>Узнать подробнее, как к нам проехать, можно перейдя по {{#link-to 'route'}}ссылке{{/link-to}}</p>
</div>
