<div class="index">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <div id = "par1" class="row">
                        <p class="col-md-8 col-md-offset-2 text-justify spaced">
                            На нашем сайте Вы можете подобрать себе одежду любой функциональности и 
                            практичности. Только у нас самый широкий ассортимент модной женской одежды и 
                            хорошо оформленный каталог одежды, в котором вы без труда отыщите продукцию на Ваш 
                            вкус. В наличии всегда имеется одежда широкого диапазона размеров - от маленьких до 
                            больших. Мы работаем с товарами от ведущих фирм, таких как: 
                            <em>
                                Artex, Betty, Eliz, Ewa, Fedini, Frank Fashion , Inter Styl, Inter-Irex, Jackie, Modmart, Rema, Twin, Vemina City, Viktor, Yvonne
                            </em>.
                        </p>
                    </div>
                    <div id = "par2" class="row">
                        <p class="col-md-8 col-md-offset-2 text-justify spaced">
                            Представленная у нас одежда - это товар высокого стиля и качества. 
                            Идеально подходит для российского климата. Это комфорт, безупречное качество и 
                            натуральные материалы.
                        </p>
                    </div>
                    <div id = "par3" class="row">
                        <p class="col-md-8 col-md-offset-2 text-justify spaced">
                            Все модели нашего интернет-каталога Вы можете оценить по представленным фотографиям.
                        </p>
                    </div>
                    <div id = "par4" class="row">
                        <p class="col-md-8 col-md-offset-2 text-justify spaced">
                            Одежда представленных марок пользуется успехом у женщин, ценящих свою индивидуальность. 
                            Мы предлагаем нашим покупателям одежду на все случаи жизни, здесь и  весеннее-летние, 
                            осеннее-зимние коллекции и специальные вечерние варианты, как яркие, праздничные наряды, 
                            так и повседневные. В нашем каталоге представлена только малая часть товаров, имеющихся у 
                            нас в продаже, поэтому мы всегда рады видеть Вас у себя в магазине, где вы сможете посмотреть 
                            весь спектр наших товаров, а также примерить их на себя.
                        </p>
                    </div>
                    <div id = "par5" class="row">
                        <p class="col-md-8 col-md-offset-2 text-justify spaced">
                            Если Вас заинтересовала та или иная модель, представленная на сайте, Вы всегда можете 
                            уточнить ее наличие, позвонив по телефонам, указаным в контактах, или написав нам 
                            на <a href="mailto:Tamara@FemDress.ru">e-mail</a>
                        </p>
                    </div>
                    <div id = "par6" class="row">
                        <p class="col-md-8 col-md-offset-2 text-center spaced">
                            Ждем Вас в нашем магазине!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>