<div class="container">
    <h1>Схема проезда</h1>
    <p>Мы работаем ежедневно</p>
    <p><i class="fa fa-lg fa-clock-o"></i> с 9.30 до 18.00</p>
    <p>Чтобы пройти к павильону 2Е-34, войдите в ТЯК "Москва" через 4 вход, 
    поднимитесь по эскалатору на второй этаж, пройдите налево до ряда "Е", 
    затем поверните направо и идите прямо по четному ряду до нашей торговой точки.</p>

    <p>Если вы приехали на Маршрутном Такси, заходите через 2 вход, поднимайтесь по 
    эскалатору на 2й этаж и идите прямо до линии "Е", где расположена наша точка 2Е-34.</p>
    <img class="img-responsive" src="/assets/images/map.png" alt="карта" width="510" height="370">
</div>
