<div class="container {{route}}">
        {{#if showLoader}}
            {{loader-img show=showLoader}}
        {{/if}}
        {{products-container model=model route=route}}
        {{#if showLoader}}
            {{loader-img show=showLoader}}
        {{/if}}
</div>